@import "tailwindcss";

@plugin "daisyui" {
  /* themes: light --default, dark --prefersdark; */
  themes: light --default;
}

.clip-left-triangle {
  clip-path: polygon(0% 0,
      100% 100%,
      0 100%);
  border: 2px solid white;
}

.clip-right-triangle {
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}